extends partial/base

include partial/post-meta


block header
    header.header-section
        .intro-header.no-img
            .container
                .row
                    .col-lg-8.offset-lg-2.col-md-10.offset-md-1
                        .post-heading
                            h1= page.title
                            if page.subtitle
                                h2.post-subheading= page.subtitle
                            +post_meta(page.date, page.tags)

block content
    main.container
        .row
            .col-lg-8.offset-lg-2.col-md-10.offset-md-1
                article.blog-post
                    != page.content
                nav(aria-label="Post navigation")
                    ul.pagination.justify-content-between
                        if page.prev
                            li.page-item
                                a.page-link(href=url_for(page.prev.path), data-toggle="tooltip", data-placement="top", title=page.prev.title)= __('prev_post')
                        else
                            li.page-item.disabled
                                span.page-link &nbsp;
                        if page.next
                            li.page-item
                                a.page-link(href=url_for(page.next.path), data-toggle="tooltip", data-placement="top", title=page.next.title)= __('next_post')
                        else
                            li.page-item.disabled
                                span.page-link &nbsp;

                include partial/comment



