footer
    .container.beautiful-jekyll-footer
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                ul.list-inline.text-center.footer-links
                    each item in theme.footer
                        if item.enable
                            li
                                a(href=item.link, title=item.title)
                                    - const iconValue = item.icon || ""
                                    - const isFontAwesome = iconValue.indexOf('fa-') !== -1
                                    span.fa-stack.fa-lg
                                        i.fa-solid.fa-circle.fa-stack-2x
                                        if isFontAwesome
                                            i.fa-stack-1x.fa-inverse(class=iconValue)
                                        else if iconValue
                                            img.fa-stack-1x.footer-icon-image(src=url_for(iconValue), alt=item.title)
                - var year = new Date().getFullYear();
                p.copyright.text-muted.
                    © #{config.author} • #{year}

                p.theme-by.text-muted.
                    Theme by
                    #[a(href="https://github.com/XuankangLin/beautiful-hexo") beautiful-hexo]
