nav.navbar.navbar-expand-md.navbar-light.fixed-top.navbar-custom
    .container-fluid
        a(class="navbar-brand", href=url_for())= config.fulltitle
        button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#main-navbar", aria-controls="main-navbar", aria-expanded="false", aria-label="Toggle navigation")
            span.navbar-toggler-icon
        #main-navbar.collapse.navbar-collapse
            ul.navbar-nav.ml-auto
                each value, key in theme["navbar-links"]
                    li.nav-item
                        a.nav-link(href=url_for(value))!= key
        .avatar-container
            .avatar-img-border
                a(href=url_for())
                    img(class="avatar-img", src=url_for(theme.avatar), alt=config.author, loading="eager")
